@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles that can be used alongside Tailwind */
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
}
